:root {
    --title: rgb(63, 160, 239);
    --primary: rgb(26, 116, 226);
    --secondary: rgb(107, 208, 255);
    --background: rgb(16, 16, 16);
    --sec-background: rgb(31, 33, 35);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1280px;
    max-width: 100%;
    padding: 16px 20px;
    margin: 0 auto;
    background: var(--background);
    color: var(--secondary);
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: var(--sec-background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 4px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--sec-background);
    z-index: 10;
    /* padding: 16px auto; */
    /* margin: auto; */
}

.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 255, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 200, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 230, 0.3);
}

header .title {
    font-size: 1.5em;
    padding: 16px 20px;
    color: var(--title);
    font-weight: bold;
    text-align: center;
}

main {
    top: 8vh;
    position: relative;
}

.wrapper {
    /* display: flex;
  justify-content: center;
  gap: 2rem; */
}

.section__title {
    font-size: 1.2rem;
    padding: 5px 0;
    text-align: center;
    color: var(--primary);
    position: relative;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section__title::before,
.section__title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    /* color: black; */
    background: var(--primary);
    opacity: 0.6;
    bottom: 0;
}

.section__title::after {
    top: 0;
    bottom: none;
}

.section__1 {}

.section__1 .academic {
    display: grid;
    font-size: 0.9rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 1rem;
}

.input__group {
    padding: 0.5rem 0.2rem;
}

.input__group__title {
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
}

input[type="text"],
input[type="number"],
select {
    padding: 8px 12px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--primary);
    background-color: rgb(255, 255, 255, 0.9);
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: var(--secondary);
    box-shadow: 0 2px 15px rgba(81, 203, 238, 1);
}

.control {
    max-width: 100%;
    margin: 1rem auto;
}

.buttons {
    text-align: center;
}

button {
    /* --color: rgb(0, 77, 218); */
    /* font-family: inherit; */
    display: inline-block;
    border-style: none;
    text-decoration: none;
    width: 12em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    border: 2px solid var(--secondary);
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--secondary);
    background: transparent;
    cursor: pointer;
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--secondary);
    height: 160px;
    width: 300px;
    border-radius: 50%;
    outline: none;
}

button:hover {
    color: var(--background);
}

button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: var(--title);
    transition: background 0s;
}

.result {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    padding: 2rem 0;
}

.container span {
    color: var(--secondary);
    margin: 5px;
}

footer {
    position: relative;
    top: 8vh;
}

footer .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--sec-background);
    z-index: 10;
    padding: 16px 0;
    text-align: center;
    /* margin: 0 auto; */
}